<!-- Cabeçalho da Página -->
<div class="mb-2 msg-topo text-center">
  <h1 class="display-6">Entrar</h1>
</div>

<div class="container mt-4 d-flex align-items-center justify-content-center">


  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="row mb-3">
      <div class="col-md-12">
        <label for="login" class="form-label">Login</label>
        <input id="login" type="text" class="form-control rounded-pill" formControlName="login">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <label for="senha" class="form-label">Senha</label>
        <input id="senha" type="password" class="form-control rounded-pill" formControlName="senha">
      </div>
    </div>

    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
      <button type="button" routerLink="/cadastro" class="btn btn-primary rounded-pill px-4" >
        Cadastrar
      </button>
      <button type="submit" class="btn btn-success rounded-pill px-4" [disabled]="formGroup.invalid">
        Entrar
      </button>
    </div>
  </form>

</div>
