<div class="container mt-4">

  <div *ngIf="isLoading" class="text-center">
    <strong>Carregando sua página inicial...</strong>
  </div>

  <div *ngIf="!isLoading">
    <!-- ========================================================== -->
    <!--      SEÇÃO DOS GÊNEROS PREFERIDOS                      -->
    <!-- ========================================================== -->
    <div *ngFor="let genero of generosPreferidosComFilmes" class="mb-5">
      <h4>{{ genero.descricao }}</h4>
      <hr>
      <div *ngIf="genero.filmes" class="row">
        <div *ngFor="let filme of genero.filmes" class="col-md-3 col-lg-3 mb-4 card-filme">
          <div class="card h-100 border-0 rounded-4 shadow">
            <a [routerLink]="['/filmes', filme.id]">
              <img [src]="filme.urlImagem" class="card-img-top rounded-top-4">
            </a>
            <div class="card-body">
              <a [routerLink]="['/filmes', filme.id]" class="text-decoration-none text-dark">
                <h6 class="card-title text-center">{{ filme.nome }}</h6>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ========================================================== -->
    <!--      SEÇÃO "ASSISTA NOVAMENTE"                         -->
    <!-- ========================================================== -->
    <!-- Só mostra esta seção se houver itens no histórico -->
    <div *ngIf="historicoParaExibir.length > 0" class="mb-5">
      <h2>Assista Novamente</h2>
      <hr>
      <div class="row">
        <div *ngFor="let item of historicoParaExibir" class="col-md-3 col-lg-3 mb-4 card-filme">
          <div class="card h-100 border-0 rounded-4 shadow">
            <a [routerLink]="['/filmes', item.filme?.id]">
              <img [src]="item.filme?.urlImagem" class="card-img-top rounded-top-4">
            </a>
            <div class="card-body">
              <a [routerLink]="['/filmes', item.filme?.id]" class="text-decoration-none text-dark">
                <h5 class="card-title text-center">{{ item.filme?.nome }}</h5>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
