<div class="container mt-4">

  <div class="mb-2 msg-topo text-center">
    <h1 class="display-6">Histórico de Visualizações</h1>
  </div>

  <div *ngIf="isLoading" class="alert alert-info text-center">
    Aguarde, carregando seu histórico...
  </div>

  <div *ngIf="!isLoading">
    <table *ngIf="historico.length > 0; else historicoVazio" class="table table-dark tabela-seila align-middle">
      <thead class="table-dark">
      <tr>
        <th class="col-filme">Filme</th>
        <th class="col-data" style="width: 20%;">Data da Visualização</th>
        <th class="col-botao text-center" style="width: 15%;">Avaliação <i class="bi bi-star"></i></th>
        <th class="col-botao text-center" style="width: 20%;">Exclusão <i class="bi bi-trash"></i></th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let item of historico">
        <td>
          <a [routerLink]="['/filmes', item.filme?.id]" class="text-decoration-none">
            {{ item.filme?.nome || 'Detalhes do Filme' }}
          </a>
        </td>

        <td>
          {{ item.data | date:'dd/MM/yyyy HH:mm' }}
        </td>

        <td class="text-center">
          <a [routerLink]="['/avaliar', item.filme!.id]" class="link-light">
            Avaliar Filme
          </a>
        </td>

        <td class="text-center">
          <a (click)="removerDoHistorico(item.id!)" class="link-light">
            Remover do Histórico
          </a>
        </td>
      </tr>
      </tbody>
    </table>

    <!-- Template que é mostrado se o histórico estiver vazio -->
    <ng-template #historicoVazio>
      <div class="alert alert-info text-center">
        Seu histórico está vazio. Comece a assistir!
      </div>
    </ng-template>
  </div>
</div>
